<style>
  .background {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .inputContainer {
    height: 30vh;
    width: 15vw;

  }

  .usernameBox {
    height: 15%;
    width: 100%;
    background-color: cadetblue;
  }

  .passwordBox {
    height: 15%;
    width: 100%;
    background-color: cadetblue;
  }

  .loginBox {
    width: 100%;
    height: 20%;
    background-color: cadetblue;
  }
</style>

<script>

// funções aki?

</script>

<!-- Toolbar -->

<div class='background'>

  <div class='inputContainer'>
    <div class='usernameBox'>
      <input #username type="text" class="username" placeholder="Seu nome de usuario" (keyup)="usernameVal(username.value)" />
    </div>

    <div class='passwordBox'>
      <input #password type="password" class="password" placeholder="Sua senha"
        (keyup)="passwordVal(password.value)" />
    </div>

    <div class='loginBox'>
      <button (click)="login()">Entrar</button><br>
      <b style=cursor:pointer; (click)="loadRegisterPage()">Não tem conta? Registre-se</b>
    </div>

  </div>

</div>