<style>
  .background {
    background-color: rgb(177, 226, 179);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .welcome {
    height: 5vh;
    width: 10vw;
    position: absolute;
    top: 10%;
  }

  .inputContainer {
    height: 30vh;
    width: 15vw;

  }

  .usernameBox {
    height: 35%;
    width: 100%;
    background-color: cadetblue;
  }

  .passwordBox {
    height: 35%;
    width: 100%;
    background-color: cadetblue;
  }

  .loginBox {
    width: 100%;
    height: 20%;
    background-color: cadetblue;
  }
</style>


<!-- Toolbar -->

<div class='background'>

  <div class='welcome'>
    <b [innerText]="nome" style="font-size: 20px;"></b>
  </div>

  <div class='oldpasswordBox'>
    <input class='oldPassword' #oldPassword type="password" (keyup)="oldPasswordVal(oldPassword.value)"
      placeholder="sua senha antiga" />
  </div>

  <div class='NewPassBox'>
    <input #newPassword type="password" (keyup)="newPasswordVal(newPassword.value)" placeholder="nova senha"
      class='newPassword' />
  </div>

  <button class=trocarSenha (click)="trocarSenha()">Trocar senha</button>

  <button class=logout (click)="logOut()">Sair</button>



</div>

