<style>
    .background{
      background-color:rgb(129, 152, 252);
      height:100vh;
      width:100vw;
      align-items: center;
      justify-content: center;
      display:flex;
    }
   
    .inputContainer{
      height:30vh;
      width:15vw;
    }
    .usernameBox{
      height:15%;
      width:100%;
      background-color: cadetblue;
    }
    .passwordBox{
      height:15%;
      width:100%;
      background-color: cadetblue;
    }
    .registerBox{
      height:15%;
      width:100%;
      background-color: cadetblue;
    }
  
    .passwordBoxRepeat{
      height:15%;
      width:100%;
      background-color: cadetblue;
    }
  </style>
  
  <!-- Toolbar -->
  
  <div class='background'>
  
    <div class='inputContainer'>
      <div class='usernameBox'>
        <input 
        #username
        type="text" 
        (keyup) = "usernameVal(username.value)"
        class='username' placeholder="nome de usuario" />
      </div>
    
      <div class='passwordBox'>
        <input
        #password
        type="password" 
        (keyup) = "passwordVal(password.value)"
        class='password' placeholder="senha" />
      </div>

      <div class='passwordBoxRepeat'>
        <input
        #passwordRepeat
      type="password" 
      (keyup) = "passwordValRepeat(passwordRepeat.value)"
        class='passwordRepeat' placeholder="repita sua senha" />
      </div>
  
      <div class='registerBox'>
        <button (click)="novoCadastro()">Registrar</button><br>
      </div>
  
    </div>
  
  </div>
    